body {
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
}

.container {
  width: 85%;
  max-width: 750px;
  background-color: white;
  margin: 40px auto;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 15px gray;
}

/* Header */
header {
  text-align: center;
  border-bottom: 2px solid silver;
  padding-bottom: 20px;
}

header img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 8px black;
}

header h1 {
  margin: 10px 0 8px;
  font-size: 28px;
  color: black;
  letter-spacing: 0.5px;
}

.socials {
  text-align: center;
  margin-top: 8px;
  margin-left: 25px;
}

.socials a {
  color: #3b3838d0;
  font-size: 15px;
  margin-right: 15px;
  text-decoration: none;
  transition: color 0.3s;
}

.socials a:hover {
  color:rgb(0, 110, 255);
}

/* Section box design */
section {
  margin-top: 25px;
  padding: 18px 20px;
  background-color: whitesmoke;
  border-left: 5px solid rgb(241, 220, 181);
  border-radius: 10px;
  box-shadow: 0 0 5px rgb(66, 65, 65);
  transition: transform 0.3s ease;
}

section:hover {
  transform: scale(1.01);
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: black;
  display: flex;
  align-items: center;
  gap: 8px;
  border-bottom: 2px solid wheat;
  padding-bottom: 5px;
}

section p, section li {
  color: black;
  line-height: 1.6;
  margin: 6px 0;
  font-size: 15px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li i, p i {
  color: rgb(56, 54, 54);
  margin-right: 10px;
}


@media (max-width: 600px) {
  .container {
    width: 90%;
    padding: 20px;
  }

  header img {
    width: 100px;
    height: 100px;
  }

  header h1 {
    font-size: 24px;
  }

  .socials {
    text-align: center;
    margin-left: 0;
  }
}